# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# assignment files
stack_example.cc
stack_tresc.txt
stack_kryteria.txt
stack

# other files
*~
cmake-build-debug
.idea/

#vscode shit
.vscode/*